<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1y4GtFMD56jW_7EEI8vKUSUlLrJvdKMo</string>
	<key>GCM_SENDER_ID</key>
	<string>1059756947863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emilda.fomo</string>
	<key>PROJECT_ID</key>
	<string>fomo-93c6d</string>
	<key>STORAGE_BUCKET</key>
	<string>fomo-93c6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059756947863:ios:f992c26a5e99a5e1c16cd2</string>
</dict>
</plist>